# Site Configuration
NEXT_PUBLIC_SITE_URL=https://kyawzayartun.com
NEXT_PUBLIC_SITE_NAME="Kyaw Zayar Tun"

# Contact Form
RESEND_API_KEY=
CONTACT_EMAIL=

# For Tools auth
ADMIN_EMAIL=
TOOLS_PASSWORD=
TOOLS_AUTH_SECRET=

# Vercel Postgres
DATABASE_URL=
POSTGRES_URL=
# accelerate extension url
PRISMA_DATABASE_URL=
