@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

h1 > a > .icon.icon-link::before,
h2 > a > .icon.icon-link::before,
h3 > a > .icon.icon-link::before {
  content: "#";
  font-size: 0.8rem;
  color: #ffffff;
}

h2 > a,
h3 > a {
  text-decoration: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[70px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[38px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* other stylings */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #7b00d3;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px;
  border-radius: 2px;
}

[data-rehype-pretty-code-figure] {
  position: relative;
}

[data-rehype-pretty-code-title] {
  position: absolute;
  right: 0;
  background-color: #7b00d3;
  color: #fff;
  padding: 4px 8px;
  font-size: 1rem;
  border-end-start-radius: 4px;
}

[data-rehype-pretty-code-caption] {
  /* position: absolute; */
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}
