@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .markdown-image-50 img {
    max-width: 50%;
    margin: auto;
  }
}

.page-layout {
  min-height: calc(100vh - 232px);
}

/* Extras */
.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 12px 35px;
  color: #ffffff;
  border-radius: 40px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0 0 10px;
  position: relative;
}

.section-title h1::before {
  content: "";
  left: 0;
  position: absolute;
  height: 2px;
  right: 30%;
  background-color: teal;
  bottom: 0;
}

.timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.timeline {
  background-color: #fdf9ff;
  padding: 30px 15px;
  /* border: 2px solid #d4d4e3;
  border-radius: 10px; */
  width: 100%;
}

.timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: teal;
}

.timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: teal;
}

.timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #504e70;
}

.timeline .timeline-date .fa {
  margin-right: 5px;
  width: 24px;
  display: inline;
}

.timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #302e4d;
}

.timeline .timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: #504e70;
  margin: 0;
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Section education */
.education {
  background-color: white;
  padding: 10px 7px;
}

.education .section-title h1::before {
  left: 30%;
}

/* Section experience */
.experience {
  background-color: white;
  padding: 10px 7px;
}

.experience .section-title h1::before {
  left: 30%;
}

/* Section project */
.project {
  background-color: white;
  padding: 30px 7px;
}

.project .section-title h1::before {
  left: 30%;
}

.project .filter-buttons {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.project .filter-buttons ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.project .filter-buttons ul li {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  padding-bottom: 0;
}

.project .filter-buttons ul li.active {
  color: teal;
  border-bottom: 2px solid teal;
}

.project .project-gallery {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.project .project-gallery .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 8px;
}

.project .project-gallery .item .inner {
  position: relative;
}

.project .project-gallery .item img {
  width: 100%;
  display: block;
}

.project .project-gallery .item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.project .project-gallery .item:hover .overlay {
  opacity: 1;
}

.project .project-gallery .item .overlay .fa {
  height: 50px;
  width: 50px;
  /* background-color: teal; */
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.project .project-gallery .item:hover .overlay .fa {
  animation: galleryIcon 0.8s ease;
}

.project .project-gallery .item .overlay h4 {
  margin-top: 15px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}

.project .project-gallery .item:hover .overlay h4 {
  -webkit-animation: galleryText 0.8s ease;
  animation: galleryText 0.8s ease;
}

.project .project-gallery .item .overlay p {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.project .project-gallery .item:hover .overlay p {
  -webkit-animation: galleryText 0.8s ease;
  animation: galleryText 0.8s ease;
}

@keyframes galleryIcon {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes galleryText {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Blogs */
.blogs {
  padding: 50px 15px;
  background-color: #ffffff;
}

.blogs .section-title h1::before {
  left: 30%;
}

.blogs .blogs-content {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogs .blogs-content .box {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.blogs .blogs-content .box .img {
  overflow: hidden;
}

.blogs .blogs-content .box .img img {
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}

.blogs .blogs-content .box .img:hover img {
  transform: scale(1.1);
}

.blogs .blogs-content .box .info {
  padding: 10px 0;
}

.blogs .blogs-content .box .info span {
  font-size: 12px;
  color: #838383;
}

.blogs .blogs-content .box .info span:nth-child(2) {
  border-left: 1px solid #dddddd;
  padding-left: 8px;
  margin-left: 10px;
}

.blogs .blogs-content .box h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 10px;
  padding: 0;
}

.blogs .blogs-content .box p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #838383;
  margin: 0 0 10px;
}

.blogs .blogs-content .box a {
  font-size: 14px;
  color: teal;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid teal;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blogs .blogs-content .box a:hover {
  color: #000000;
  border-color: #000000;
}

/* Responsive */

@media (max-width: 767px) {
  .project .project-gallery .item {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: 8px;
  }

  .blogs .blogs-content .box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .project .project-gallery .item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
